/* Home.css */

body {
    transition: background-color 0.7s ease-in-out;
}

.section {
    transition: background-color 0.7s ease-in-out;
    background: transparent; /* Ensure sections have a transparent background */
}

.hero-section, .curiosity-section, .services-section, .latest-news-section, .contact-us-section {
    background: transparent; /* Remove any background color from the sections */
}


