/* Home.css */

body {
    transition: background-color 0.7s ease-in-out;
}

.section {
    transition: background-color 0.7s ease-in-out;
    background: transparent; /* Ensure sections have a transparent background */
    position: relative; /* Ensure the parent has positioning context */

}

.hero-section, .curiosity-section, .services-section, .latest-news-section, .contact-us-section {
    background: transparent; /* Remove any background color from the sections */
}

.figure-overlay {
    position: absolute;
    top: 20%;
    right: -10%;
    z-index: -100;
    max-width: 800px; /* Default for smaller screens */
    opacity: 0.9; /* Adjust opacity if needed */
    transition: max-width 0.3s ease-in-out;
}


@media (min-width: 1024px) {
    .figure-overlay {
        max-width: 1100px; /* Max width for larger screens */
    }

    .hero-section .container {
        margin-left: 10%; /* Move the text to the right */
    }
}