body {
    transition: background-color 1s ease-in-out;
}

.section {
    transition: background-color 1.2s ease-in-out;
    background: transparent; /* Ensure sections have a transparent background */
    position: relative; /* Ensure the parent has positioning context */

}